
.features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    height: auto;
    min-height: 5rem;
    padding: 4rem 0;
    
 
    
}

.features-deatails{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.features-options{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    color:rgba(63, 8, 107, 1);
    font-size: large;
    justify-content: space-around;
    padding: 6vw 12vw;
    text-size-adjust: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    right:2%;
    
}

/* small text*/
.buttons-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items:center;
    gap: 100px;
    color:rgba(63, 8, 107, 1);
    font-size: large;
    justify-content: space-around;
    padding: 2vw 4vw;
    text-size-adjust: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    margin: 10px 0 400px 20px;
    width: 30%;
    
}

  
    /* Specific styling for the "Get started" button */
    .features-options button {
        background-color: rgb(190, 132, 171);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 70px;
        font-size: 16px;
        font-weight: 600;
        color:rgba(63, 8, 107, 1);
        transition: background-color 0.3s ease-in-out;
      }
      
      .features-options button:hover {
        background-color: #a3246a;
      }
      


.features-details-name{
    font-size: 24px;
    font-family:"Poppins SemiBold";
}
.features-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24 0;
}
.features-details-role h1{
    font-size: 40px;
    font-family:cursive ;
}
.primary-text{
    color:rgba(63, 8, 107, 1);
}
/*name*/
.highlighted-text{
    color: var(--dark-orange);
}
.features-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: Poppins Light;
    color:rgba(63, 8, 107, 1);

}
.features-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 500px;
    width: 1000px;
    margin: 0 0px 0 100px;
    padding: 10px;
    left: 5%;
}
.features-picture-background{
    height: 100%;
    width: 100%;
    background-image: url("../../../public/images/Agile-software-dev-1-1536x714.jpeg.webp");
    background-size: cover;
    border-radius: none;
    background-repeat: no-repeat;
    

}
.features-picture-backgroung:hover{
    transform: scale(1.07);
    transition: 1s ease-out;

}
.content-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    color:rgba(63, 8, 107, 1);
    font-size: large;
    justify-content: center;
    text-size-adjust: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    width: 100%;
    top: 0;
    
    
    
}

.agile-details{
    display: flex;
    align-items:center;
    color:rgba(63, 8, 107, 1);
    flex-direction: column; 
    width:30%;
    font-size: small;

}


.agile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 200px;
    width: 500px;
    margin: 0 0px 0 250px;
    padding: 10px;
    right: 50%;
}
.agile-picture-background{
    height: 100%;
    width: 100%;
    background-image: url("../../../public/images/basics-and-benefits-of-agile-method.jpg");
    background-size: cover;
    border-radius: none;
    background-repeat: no-repeat;
    

}
.agile-picture-backgroung:hover{
    transform: scale(1.07);
    transition: 1s ease-out;

}
.flow-content{
    display:inline-block;
    align-items: center;
    flex-direction: row;
    gap:10px;
    justify-content: space-around;
   
}
 
.flow-details{
    display: flex;
    align-items:flex-end;
    color:rgba(63, 8, 107, 1);
    flex-direction: column; 
    width:30%;
    font-size: small;
    margin: 0px 100px 0px 400px;
    margin-top: 0;
}

.flow-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 200px;
    width: 40%;
    margin: 10px 40px 0 10px;
    padding: 10px;
    
}
.flow-picture-background{
    height: 100%;
    width: 100%;
    background-image: url("../../../public/images/basics-and-benefits-of-agile-method.jpg");
    background-size: cover;
    border-radius: none;
    background-repeat: no-repeat;
    

}
.flow-picture-backgroung:hover{
    transform: scale(1.07);
    transition: 1s ease-out;

}
 
@media screen and (max-width:1110px) {
    .home-picture{
        margin: 0 0px 0 80px;
    }
    .home-details-name{
        font-size: 20px;
    }
    .home-details-role .primary-text{
        font-size: 12px;
    }
  
}
@media screen and (max-width:910px) {
    .features-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}
@media screen and (max-width:810px) {
    .features-picture{
        margin: 0 !important;
    }
    .features-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .features-options{
        display: flex;
        justify-content:center;
    }
    .features-details{
        margin: 200px 0 0;
    }
    .features-options .highlighted-btn{
        margin: 0 !important;
    }
    .features-options, 
    .features-details-role{
        text-align: center;
    }
}
@media screen and (max-width:375px) {
    .features-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .features-details{
        width: 90%;
    }
}


